h1{
    color: aqua;
    text-align: center;
}
.style{
    color: blueviolet;
    text-decoration: dashed;
    font-style: italic;
    font-size: x-large;
}
nav{
    text-align: center;
    text-decoration: dashed;
}